
{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<!--jeigu bus klaida iskart pranesk apie tai-->
{% if form.errors %}
<p>{% trans "Login error, try again." %}</p>
{% endif %}
<!--ar turi vartotojas prisijungima-->
{% if next %}
{% if user.is_authenticated %}
<p>{% trans "Access is denied." %}</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
<!--  kad kiti nesuvestu ko nereiktu -->
    {% csrf_token %}
    <table>
        <tr>
            <td>{% trans "Username:" %}</td>
            <td>{{form.username}}</td>
        </tr>
        <tr>
            <td>{% trans "Password:" %}</td>
            <td>{{form.password}}</td>
        </tr>
    </table>
    <input type="submit" value="{% trans 'Login' %}">
    <input type="hidden" name="next" value="{{next}}">
</form>

<p><a href="{% url 'password_reset' %}">{% trans 'Forgot password?' %}</a></p>
{% endblock %}
