{% extends 'base.html' %}
{% block content %}

<!--tikriname ar linkas yra geras, ar nera  nuoroda pasibaigusi-->
{% if validlink %}
{% load i18n %}
<p>{% trans "Please add new password and then repeat it" %}</p>
<form method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
<!--            suveskite slaptazodi-->
            <td>{{form.new_password1.errors}}<label for="id_new_password1">{% trans "New password:" %} </label></td>
            <td>{{form.new_password1}}</td>
        </tr>
        <tr>
<!--            pakartokite slaptazodi -->
            <td>{{form.new_password2.errors}} <label for="id_new_password2">{% trans "Retype password: " %} </label></td>
            <td>{{form.new_password2}}</td>
        </tr>
        <tr>
<!--            sitas tuscias td bus 2eiluteje pirmas stulpelis, o tada  mygtuka "pakeisti slaptazodi" nusistumsi desine puse-->
            <td></td>
        <td><input type="submit" value="{% trans 'Change password' %}"></td>
        </tr>
    </table>
</form>
    {% else %}
    <h3>{% trans 'Password  change unsuccessful :(' %}</h3>
    <p>{% trans 'Password change link was expired.. Please try again!' %}</p>

{% endif %}

{% endblock %}
