{% extends 'base.html' %}
{% block content %}

<!--tikriname ar linkas yra geras, ar nera exparied nuoroda-->
{% if validlink %}
<p>Įveskite naują slaptažodį ir jį pakartokite.</p>
<form method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
<!--            suveskitye slaptazodi-->
            <td>{{form.new_password1.errors}}<label for="id_new_password1">Naujas slaptažodis: </label></td>
            <td>{{form.new_password1}}</td>
        </tr>
        <tr>
<!--            pakartokite slaptazodi -->
            <td>{{form.new_password2.errors}} <label for="id_new_password2">Pakartokite slaptažodį: </label></td>
            <td>{{form.new_password2}}</td>
        </tr>
        <tr>
<!--            sitas tuscias td bus 2eiluteje pirmas stulpelis, o tada  mygtuka "pakeisti slaptazodi" nusistumsi desine puse-->
            <td></td>
        <td><input type="submit" value="Pakeisti slaptažodį"></td>
        </tr>
    </table>
</form>
    {% else %}
    <h3>Nepavyko pakeisti slaptažodžio</h3>
    <p>Slaptažodžio pakeitimo nuoroda negaliojanti. Bandykite iš naujo!</p>

{% endif %}

{% endblock %}
