{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "About" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h1>{% trans "About" %} </h1>


  <h3>Programa yra tik pirmoje kūrimo stadijoje, ateityje planuojama:</h3>
<ul>


  <table class="table table-striped">
  <tbody>
    <tr>
      <th class="col-6 col-sm-4"scope="row">0. Tinklapis turėtų papildomai ir Anglų (LT-EN liko ~20 proc), Ukrainiečių kalbas.</th>
      <td class="col-6 col-sm-4">Statusas - 70 proc.</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4"scope="row">1. Sukurti skirtingų vartotojų tipų, pvz surinkėjai, mechanikai, vadovai ir t.t. su spec. funkcijomis.</th>
      <td class="col-6 col-sm-4">Statusas - 0 proc.</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4" scope="row">2. Interaktyvus darbo grafikas. Pvz vartotojas galėtų pažymėti vadovui norimas grafiko keitimus. Ir kiti patobulinimai.</th>
      <td class="col-6 col-sm-4">Statusas - 0 proc.</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4" scope="row">3. Informatyvus suasmenintas vartotojo langas Dashboard, su svarbiausia vartotojo  informacija, dalis duomenų lyginama su vidurkiu ir pan. Ir kiti patobulinimai.</th>
      <td class="col-6 col-sm-4">Statusas - 5 proc.</td>
    </tr>
      </tr>
    <tr>
      <th class="col-6 col-sm-4"scope="row">4. Darbo transporto priemones (mašinos) naudojimas ir pagalba mechanikams.</th>
      <td class="col-6 col-sm-4">Statusas - 5 proc.</td>
    </tr>
      </tr>
    <tr>
      <th class="col-6 col-sm-4"scope="row">5. Darbo užmokesčio BONUS dalies modeliavimas.</th>
      <td class="col-6 col-sm-4">Statusas - 0 proc.</td>
    </tr>

    <tr>
      <th class="col-6 col-sm-4"scope="row">6. Pasižymėk dieną. O gal tai metų idėja verta 3000EUR!?</th>
      <td class="col-6 col-sm-4">Statusas - 5 proc.</td>
    </tr>

  <tr>
      <th class="col-6 col-sm-4"scope="row">7. Tolimesnė programos plėtra...o gal užgims „Valandų birža“?</th>
      <td class="col-6 col-sm-4">Statusas - 0 proc.</td>
    </tr>
  </tbody>
</table>

</ul>

<div class="alert alert-info" role="alert" style="">
  <h4> Programą pradėjo kurti CodeAcademy kursą bebaigiąs VIGI_25 grupės studentas <strong>Mindaugas Grikšelis</strong>.
    </br> Esu dar labai pradedantysis programuotojas, mielai priimčiau visas pastabas <a href="mailto:mindaugas.grikselis@gmail.com? subject=LIDL mates">e-mail</a> ir/arba <a href="https://www.facebook.com/mindaugas.grikselis/?viewas=100000686899395&show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_transition=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0" target="_blank">FB</a>.
    <br>2022m. Lapkritis. Kaunas.</h4>
 </div>
<ul><small> Programos versija 0.17</small></ul>



{% endblock %}
