{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Dashboard" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}


<div class="d-flex flex-row-reverse">
  <div class="p-2 text-info bg-dark">Šios dienos data: {% now "Y m d " %} ir {% now "H" %} valanda</div>
</div>
<div class="bg-success p-2" style="--bs-bg-opacity: .5;"><a>{% trans "Only your data here" %}</a></div>
<h3 class="text-primary">{{user.email.upper}} - {% trans "Dashboard" %}  </h3>
<a> </a>

    <div class="media">
        <img class="rounded-circle account-img" src="{{user.profilis.photo.url}}">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary"></p>
        </div>
    </div>
<ul>
  <li>  Please update your information, push: <a href="{% url 'profile' %}">here</a> </li>
  <li>Vardas ir pavardė: <a class="text-success">{{user.first_name.upper}} {{user.last_name.upper}}</a></li>
  <li>Įsidarbinta: <a class="text-success">{{user.working_since}}</a></li>
  <li>Planuojama atlyginimo kėlimo pakopa už <a class="text-success">{{user.working_since}}d.</a></li>


</ul>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">LIDL primena keletą svarbių dalykų, kitus skaitykite mūsų intranete:</h5>
    <span class="text-muted">

        <li>Šių metų "Metų idėjos" rinkimai užsidaro 2022-12-31. <strong>3000 eur</strong> už pirmą vietą! Kviečiame dalyvauti! </li>
    <li>Šių metų veikatos draudimas galioja iki 2023-03-31.</li>
    <li>Antradienias 20 val. Rio sporto komplekse KREPŠINIS. Trukmė 1,5 val.</li>
    <li>Ketvirtadieniais 20 val. Jūsų laukia Girstučio vandens sporto kompleksas. Trukmė 1 val.</li>
        </span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> Lidl primena
    </button>
  </div>
</nav>


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['date', 'user_rate', 'average_rate'],
          ['2022-11-01',  250,      220],
          ['2022-11-02',  240,      230],
          ['2022-11-03',  230,      220],
          ['2022-11-04',  220,      230],
          ['2022-11-05',  250,      220],
          ['2022-11-06',  210,      220],
          ['2022-11-07',  230,      230],
          ['2022-11-08',  210,      240],
          ['2022-11-09',  230,      220],
          ['2022-11-10',  230,      220],
          ['2022-11-11',  250,      230],
        ]);

        var options = {
          title: 'DEMO Planuojama sukurti vizualizacija. Prisijungusio vartotojo surinktu vid. deziu per val greicio lyginant su vidurkiu',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

    <div id="curve_chart" style="width: 100%; height: 500px"></div>

{% endblock %}
