{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Index" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h1> {% trans "Index - main page" %}</h1>

 <h4>Šiuo metu programoje yra:</h4>


  <table class="indexTable" >
  <tbody>
    <tr>
      <th class="col-6 col-sm-4" scope="row">Darbo zonų sandėlyje:</th>
      <td class="col-6 col-sm-4">{{num_working_zones }}</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4" scope="row">Darbo mašinų:</th>
      <td class="col-6 col-sm-4">{{ num_working_machines }}</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4" scope="row">Darbuotojų:</th>
      <td class="col-6 col-sm-4">{{ num_workers }}</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4" scope="row">Darbo laiko įrašų:</th>
      <td class="col-6 col-sm-4">{{ num_work_records }}</td>
    </tr>
    <tr>
      <th class="col-6 col-sm-4" scope="row">Užregistruotų pastabų:</th>
      <td class="col-6 col-sm-4">{{ num_notes }}</td>
    </tr>
  </tbody>
</table>






{% endblock %}
