{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Worker Working records" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h1 class="p-4 text-primary d-flex justify-content-center">{{user.first_name.upper }} {{user.last_name.upper }} {% trans "Working records" %} </h1>

{% if my_working_records %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">data</th>
      <th scope="col">working_zone</th>
      <th scope="col">status</th>
      <th scope="col">duration</th>
      <th scope="col">picked_boxes</th>
<!--      <th scope="col">pick_rate_per_hour</th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
    </tr>
  </thead>
   {% for record in my_working_records %}
  <tbody>
    <tr>
      <th scope="row">-</th>
      <td>{{record.data}}</td>
      <td>{{record.working_zone}}</td>
      <td>{{record.status}}</td>
      <td>{{record.duration}}</td>
      <td>{{record.picked_boxes}}</td>



    </tr>
  </tbody>
   {% endfor %}
</table>
<div class="pagination d-flex justify-content-center">

       <span class="step-links">
           {% if page_obj.has_previous %}
           <a href="?page=1">&laquo; pirmas</a>
           <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
           {% endif %}

           <span class="current">
               {{page_obj.number}} iš {{page_obj.paginator.num_pages}}
           </span>

           {% if page_obj.has_next %}
           <a href="?page={{page_obj.next_page_number}}">pirmyn</a>
           <a href="?page={{page_obj.paginator.num_pages}}">paskutinis &raquo;</a>
           {% endif %}
       </span>
   </div>
{% else %}
<p>Šiuo metu neradome Jūsų darbo įrašų.</p>
{% endif %}


{% endblock %}
