{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Working machine list" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h1 class="p-4 text-primary d-flex justify-content-center">{% trans "Working machine list" %} </h1>




<table class="table ">
  <thead>
    <tr>
      <th scope="col">ID_record</th>
      <th scope="col">Work machine id</th>
      <th scope="col">Status</th>
      <th scope="col">Worker</th>
      <th scope="col">Data taken</th>
    </tr>
  </thead>
  {% for krautuvas in working_machines_list %}
  <tbody>
    <tr>
      <th scope="row">{{krautuvas.id}}</th>
      <td>{{krautuvas.krautuvo_id}}</td>
      <td>{{krautuvas.status}}</td>
      <td>{{krautuvas.darbuotojas}}</td>
      <td>{{krautuvas.data_taken}}</td>
    </tr>
  </tbody>
   {% endfor %}
</table>

<div class="container">
  <nav aria-label="...">
    {% if working_machines_list.has_other_pages %}
    <ul class="pagination pagination-sm justify-content-end">
      {% for i in working_machines_list.paginator.page_range %}
        {% if working_machines_list.number == i %}
      <li class="page-item active">
        <a class="page-link">{{i}}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{i}}">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
</div>




<div>
  <h2> Papildomai galite atlikti paiešką pagal krautuvo numerį (ID)</h2>
 <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
    <input class="form-control me-2" name="query" type="search" placeholder=" Įveskite krautuvo triženklį numerį ar dalį jo, neįvedus skaičiaus: bus grąžintas visų krautuvų naudojimosi sąrašas." aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit">{% trans "Search" %}</button>
</form>

</div>




{% endblock %}
