{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Workers" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h1 class="p-4 text-primary d-flex justify-content-center">{% trans "All workers " %} </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">photo</th>
      <th scope="col">picker_code</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">working_department</th>
      <th scope="col">working_zone</th>
          <th scope="col">position</th>
          <th scope="col">working_since</th>


    </tr>
  </thead>
  {% for worker in workers %}
  <tbody>
    <tr>
      <th scope="row">-</th>
      <td>        <img width=40vh class="rounded-circle account-img" src="{%if worker.photo%} {{worker.photo.url}} {%else%} {% endif %}">
</td>
      <td>{{worker.picker_code}}</td>
      <td>{{worker.first_name}}</td>
      <td>{{worker.last_name}}</td>
            <td>{{worker.working_department}}</td>
            <td>{{worker.working_zone}}</td>
            <td>{{worker.position}}</td>
            <td>{{worker.working_since}}</td>
    </tr>
  </tbody>
   {% endfor %}
</table>

<div class="container">
  <nav aria-label="...">
<!--    jeigu bus daugiau nei 2 puslpaiai bus, mes puslapiavima-->
    {% if workers.has_other_pages %}
    <ul class="pagination pagination-sm justify-content-end">
      {% for i in workers.paginator.page_range %}
        {% if workers.number == i %}
<!--      bus patemsintas skaiciuukas-->
      <li class="page-item active">
        <a class="page-link">{{i}}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{i}}">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
</div>

{% endblock %}
