{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Worker Working records" %}
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<h1 class="p-4 text-primary d-flex justify-content-center">{{user.first_name.upper }} {{user.last_name.upper }} {% trans "used machines" %} </h1>

{% if my_used_machines %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">record_ID</th>
      <th scope="col">data_taken</th>
      <th scope="col">krautuvo_id</th>
      <th scope="col">note_type</th>
      <th scope="col">status</th>
      <th scope="col">notes</th>
<!--      <th scope="col">pick_rate_per_hour</th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
    </tr>
  </thead>
   {% for record in my_used_machines %}
  <tbody>
    <tr>
      <th scope="row">{{record.id}}</th>
      <td>{{record.data_taken}}</td>
      <td>{{record.krautuvo_id}}</td>
      <td>{{record.note_type}}</td>
      <td>{{record.status}}</td>
      <td>{{record.notes | safe}}</td>




    </tr>
  </tbody>
   {% endfor %}
</table>
<div class="pagination d-flex justify-content-center">

       <span class="step-links">
           {% if page_obj.has_previous %}
           <a href="?page=1">&laquo; pirmas</a>
           <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
           {% endif %}

           <span class="current">
               {{page_obj.number}} iš {{page_obj.paginator.num_pages}}
           </span>

           {% if page_obj.has_next %}
           <a href="?page={{page_obj.next_page_number}}">pirmyn</a>
           <a href="?page={{page_obj.paginator.num_pages}}">paskutinis &raquo;</a>
           {% endif %}
       </span>
   </div>
{% else %}
<p>{% trans "We do not find any work machines in use right now or used before." %}</p>
{% endif %}


{% endblock %}
